@import url('https://fonts.google.com/specimen/Roboto+Slab');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #CECECE 16.62%, #FEFEFE 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px
}

.materia-principal {
  
}

.materia-principal-artigo {
  margin: auto;
  width: 50%;
}

.materia-principal-artigo-titulo {
  color: green;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.artigo {
  margin-top: 20px;
}

.materia-principal-artigo-subtitulo {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  
}

.conteudo-principal-imagem {
  height: 430px;
}


.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
